* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
// COLORS
  --color-primary: rgb(0, 16, 20);
  --color-primary-40: rgba(0, 16, 20, 0.4);
  --color-secondary: #00b0b3;
  --color-white: white;
  --color-black: black;
  --color-variant-1: #00303d;
  --color-variant-2: #004052;
  --color-variant-3: #005066;
  
  --seasalt: #f8f9faff;
  --antiflash-white: #e9ecefff;
  --platinum: #dee2e6ff;
  --french-gray: #ced4daff;
  --french-gray-2: #adb5bdff;
  --slate-gray: #6c757dff;
  --outer-space: #495057ff;
  --onyx: #343a40ff;
  --eerie-black: #212529ff;

  --color-cyan: rgb(0, 176, 179);
  --rgb-cyan: 0, 176, 179;
  --color-cyan-light: rgb(71, 255, 237);
  --rgb-cyan-light: 71, 255, 237;
  --color-blue: rgb(60, 105, 255);
  --rgb-blue: 60, 105, 255;
  --color-purple: rgb(185, 108, 252);
  --rgb-purple: 185, 108, 252;

// =================================================================  
  
  --transition-all: var(--transition-all)
  --transition-all-1: all 1s ease-in-out
  
  --br-sm-2: 14px; // border-radius
}

// REUSABLE STYLES =========================================================
@mixin text-grad ($color1,$color2) {
    color: transparent;
    background: linear-gradient($color1, $color2);
    background-clip: text;
}

@mixin boxshad ($top-color, $right-color, $bottom-color, $left-color) {
    box-shadow: 0 -3px 4px $top-color, 3px 0 4px $right-color, 0 3px 4px $bottom-color, -3px 0 4px $left-color;
}

@mixin bg-grad-primary {
    background: linear-gradient(var(--color-blue), var(--color-purple));
}

@mixin text-grad-primary {
    @include text-grad(var(--color-blue), var(--color-purple));
}


@mixin boxshad-grad-primary {
    @include boxshad(rgba(var(--rgb-blue),.5), rgba(var(--rgb-purple),.5), rgba(var(--rgb-purple),.5), rgba(var(--rgb-blue),.5));
}

@mixin bg-grad-secondary {
    background: linear-gradient(#00b0b3, #47ffed);
}

@mixin boxshad-grad-secondary {
    @include boxshad(rgba(var(--rgb-cyab),.5), rgba(var(--rgb-cyan-light),.5), rgba(var(--rgb-cyan-light),.5), rgba(var(--rgb-cyan),.5));

}

@mixin text-grad-secondary {
    @include text-grad(#00b0b3, #47ffed);
}

@mixin grid-col($num-cols, $col-gap, $row-gap) {
    display: grid;
    grid-template-columns: repeat($num-cols, 1fr);
    column-gap: $col-gap;
    row-gap: $row-gap;
}

@mixin flex-row {
    display: flex;
    align-items: center;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// =========================================================================
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-primary);
  color: var(--antiflash-white);
  font-size: 1rem;
  transition: var(--transition-all);
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.text-grad {
    @include text-grad-primary;
}

.bg-grad-primary {
    @include bg-grad-primary;
}


// SECTIONS =================================================================
section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem 8rem;

}

.section {
    display: none;
    background-color: var(--color-primary);
    transition: var(--transition-all);
}

// .sec1 {
//     // display: none;
//     // transform: translateY(0) scale(1);
//     background-color: burlywood;
// }

// .sec2 {
//     // display: none;
//     // transform: translateY(0) scale(1);
//     background-color: rgb(168, 222, 135);
// }
// .sec3 {
//     // display: none;
//     // transform: translateY(0) scale(1);
//     background-color: rgb(135, 216, 222);
// }
// .sec4 {
//     // display: none;
//     // transform: translateY(0) scale(1);
//     background-color: rgb(135, 138, 222);
// }
// .sec5 {
//     // display: none;
//     // transform: translateY(0) scale(1);
//     background-color: rgb(222, 135, 179);
// }


.active {
    display: block;
    animation: slide-down 1s ease-in-out, fade-in 1s ease-in-out;
}

// CONTROLS
.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);

    
    .control {
        padding: 1rem;
        cursor: pointer;
        background: linear-gradient(var(--color-primary-40), var(--color-primary-40)); 
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem 0;
        @include boxshad(rgba(var(--rgb-blue),.5), #ffffff00, rgba(var(--rgb-purple),.5), #ffffff00);

        i {
            font-size: 1.2rem;
            color: var(--antiflash-white);
            pointer-events: none;
        }
    }

    .active-btn {
        transition: all 1s ease-in-out;
        i {
            color: var(--color-white) !important;
        }
        animation: rotateY180 1s ease-in-out, bg-fade-in 1s ease-in-out both;
    }
}

// HEADER =================================================================
header {
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

.header-content {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100%;
    
    .left-header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; // because we want shape's position to be absolute
        .shape {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: var(--transition-all);
            clip-path: polygon(0 0, 25% 0, 75% 100%, 0% 100%);
        }

        .image {
            width: 60%;
            aspect-ratio: 3/4;
            transform: translate(0,0);
            justify-content: center;
            animation: float 2.5s ease-in-out 1s infinite alternate;
            

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                filter: drop-shadow(0.5rem 1rem 1.5rem black);
            }
        }
    }

    .right-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: calc(100px);

        .name {
            font-size: 3rem;
        }
        .job-title {
            font-size: 2rem;
        }
        p {
            margin: 1.5rem 0;
            line-height: 2rem;
        }
        .btn-con {
            animation: slide-left-short 1s ease-in-out both, fade-in 1s ease-in-out both;
        }

    }

    // animations
    @for $i from 1 to 5 {
        .right-header {
            @if $i != 4 {
                :nth-child(#{$i}) {
                    animation: move-down-2 1s ease-in-out both, fade-in 1s ease-in-out both;
                }
            } 
            // make animations start in sequential order
            :nth-child(#{$i}) {
                animation-delay: .5s + $i*(.5s);
            }
        }
    }

}



// ABOUT =================================================================
.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3.5rem 0 5rem;
    gap: 3rem;
    .left-about {
        display: flex;
        flex-direction: column;

        h4 {
            align-self: center;
            font-size: 1.5rem;
        }
        
        p {
            padding: 1rem 0 2rem;
        }

        .btn-con {
            justify-content: center;
        }
    }

    @for $i from 1 to 4 {
        .left-about {
            :nth-child(#{$i}) {
                animation: slide-right-short .5s ease-in-out both, fade-in .5s ease-in-out both;
                animation-delay: .5s + $i*(.2s);
            }
        }
    }
    
    .right-about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;

        .about-item {
            border: 1px dashed var(--slate-gray);
            border-radius: 5px;
            transition: var(--transition-all);
            
            &:hover {
                box-shadow: 0px 0px 4px 2px var(--color-secondary);
                border-color: transparent;
                transform: scale(1.02);
            }

            .about-text {
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                gap: .5rem;
                
                .large-text {
                    font-size: 2.5rem;
                    font-weight: 700;
                    @include text-grad-secondary;
                }

                .small-text {
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1rem;
                    color: var(--antiflash-white);
                    letter-spacing: 2px;

                    &::before {
                        position: absolute;
                        top: 0;
                        left: 1rem;
                        content: '';
                        width: 2px;
                        height: 100%;
                        @include bg-grad-secondary;                      
                    }
                }
            }
        }
    }
    @for $i from 1 to 5 {
        .right-about {
            :nth-child(#{$i}) {
                animation: slide-left-short .5s ease-in-out both, fade-in .5s ease-in-out both;
                animation-delay: .5s + $i*(.2s);
            }
        }
    }
}

// SKILLS
.stats {
    .title {
        text-align: center;
        // text-transform: uppercase;
        font-size: 2rem;
        padding: 2rem;
        animation: fade-in .5s ease-in-out 1.5s both;
    }

    .skills-con {
        @include grid-col(2, 5rem, 2rem);

        .skill {
            @include flex-col();
            row-gap: 1rem;

            .skill-title {
                font-size: 1.2rem;
                @include flex-row();
                .logo-con {
                    width: 2rem;
                    height: 2rem;
                    box-sizing: content-box;
                    padding-right: .5rem; 
                    @include flex-row();
                    i {
                        font-size: 2rem;
                    }

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .progress-bar-con {
                @include flex-row;
                gap: 1rem;
                .progress-text {
                    font-size: 1.2rem;
                }

                .progress-bar {
                    background-color: var(--outer-space);
                    width: 100%;
                    height: .3rem;
                    position: relative;
                    overflow: hidden;
                    
                    span {
                        position: absolute;
                        background: linear-gradient(to right, var(--color-cyan), var(--color-cyan-light));
                        width: 0;
                        height: 100%;
                        transition: all 0.5s ease-in-out both 6s;
                        z-index: 1;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            translate: 50% -50%;
                            right: 0;
                            width: .6rem;
                            height: .6rem;
                            border-radius: 50%;
                            background-color: var(--color-cyan-light);
                            box-shadow: 0 0 4px var(--color-cyan-light);
                            z-index: 0;
                        }
                    }
                }
            }
        }
    }
}

.portfolio {
    .description {
        text-align: center;
        font-size: 1.2rem;
        padding: 2rem 0 2rem;
    }

    .portfolio-items-con {
        @include grid-col(3, 2rem, 2rem);

        .portfolio-item {
            background-color: #00b0b3;
            aspect-ratio: 3/2;
            border-radius: 1rem;
            position: relative;
            overflow: hidden;

            .image-con {
                position: absolute;
                inset: 0;
                object-fit: cover;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .hover-item {
                translate: 0 100%;
                opacity: 0;
                @include bg-grad-secondary();
                position: absolute;
                inset: 0;
                @include flex-col();
                text-align: center;
                gap: 1rem;
                
                .title {
                    color: var(--color-primary);
                    font-size: 1.2rem;
                }

                .icons-con {
                    @include flex-row();
                    justify-content: center;
                    gap: 2rem;
                    font-size: 2rem;

                    .icon {
                        box-sizing: content-box;
                        @include flex-row();
                        justify-content: center;
                        width: 2rem;
                        height: 2rem;
                        padding: .5rem;
                        border-radius: 50%;
                        background-color: black;

                        &:hover {
                            scale: 1.1;
                            background-color: #000000aa;
                        }
                    }
                }
                
            }

            &:hover .hover-item{
                translate: 0 0;
                opacity: 1;
                transition: all .5s ease;
            }
        }
    }

}

// CONTACT
.contact-content-con {
    display: flex;
    padding-top: 3.5rem;

    .left-contact {
        flex: 2;

        h4 {
            margin-top: 1rem;
            font-size: 2rem;
        }

        p {
            margin: 1rem 0;
            line-height: 2rem;
        }

        .contact-info {
            .contact-item {
                @include flex-row();
                justify-content: space-between;
                flex-wrap: wrap;
                p {
                    margin: .5rem 1rem !important;
                    padding: 0 !important;
                }

                .icon {
                    display: grid;
                    grid-template-columns: 40px 1fr;

                    i {
                        @include flex-row();
                        justify-content: center;
                        font-size: 1.2rem;
                    }
                }
            }
            
        }

        .social-icons {
            margin-top: 1rem;
            @include flex-row();
            gap: 1rem;
        }
    }

    .right-contact {
        flex: 3;
        margin-left: 3rem;

        .input-control {
            margin: 1rem 0;

            input, textarea {
                width: 100%;
                resize: none;
                font-family: inherit;
                font-size: inherit;
                font-weight: inherit;
                border-radius: 1.2rem;
                padding: .5rem 1rem;
                outline: none;
                border: none;
                background-color: var(--eerie-black);
                color: var(--antiflash-white);
            }

        }

        .same-row {
            display: flex;
            gap: 1rem;
            
        }

        .submit-btn {
            display: flex;
            justify-content: end;
        }
    }
}

// REUSABLE COMPONENTS =================================================================
// BUTTON
.btn-con {
    display: flex;
    justify-content: start;
}

.main-btn {
    @include boxshad-grad-primary;
    position: relative;
    border-radius: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: hidden; // ::before element won’t be visible outside container 

    * {
        z-index: 1;
    }

    .btn-text {
        margin-left: 2rem;
    }
    .btn-icon {
        display: flex;
        align-items: center;
        border-radius: 50%;
        padding: 1rem;
        margin-right: -1px;
    }
    
    // effect: slide left on hover
    &::before {
        content: ''; // ::before element won't be added to the HTML without this attribute
        position: absolute;
        inset: 0; // same dimensions as the container
        border-radius: 2rem;
        @include bg-grad-primary;
        transform: translateX(100%); // from_state
        z-index: 0;
    }
    &:hover::before {
        transition: all .5s ease;
        transform: translateX(0%); // to_state
    }
    
}

.round-btns {
    a {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--eerie-black);
        @include flex-row();
        justify-content: center;

        i {
            font-size: 1.5rem;
            color: white;
        }

        &:hover {
            scale: 1.1;
            background-color: var(--onyx);
        }

    }
}

// SECTION TITLE
.main-title {
    text-align: center;
    h2 {
        position: relative;
        font-size: 3.5rem;

        .front {
            position: relative;
            letter-spacing: 4px;
            z-index: 1;
            animation: scale-up-105 3s ease alternate infinite;
        }
        .bg-text {
            position: absolute;
            top: 50%;
            left: 50%; 
            transform: translate(-50%, -50%); // move anchor point to center of the element's box
            text-transform: uppercase;
            font-size: 5rem;
            font-weight: 800;
            color: var(--slate-gray);
            letter-spacing: 0.5rem;
            opacity: .3;
            z-index: 0;
        }
    }
}

// animation keyframes
@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(100%)
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-100%)
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-left-short {
    0% {
        transform: translateX(3rem);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-right-short {
    0% {
        transform: translateX(-3rem);
    }
    100% {
        transform: translateX(0%);
    }
}


@keyframes rotateY180 {
    0% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
} 

@keyframes horizontal-spread {
    0% {
        clip-path: circle(0%);
    }
    100% {
        clip-path: circle(100%);
    }
}

@keyframes bg-fade-in {
    0% {
        background: linear-gradient(--var(--color-primary-40), --var(--color-primary-40)); 
    }
    100% {
        @include bg-grad-primary;
    }
}

@keyframes float {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -1rem);
    }
}

@keyframes move-down-2 {
    0% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes move-down-3 {
    0% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes scale-up-105 {
    0% {
        transform: scale(100%);
    }
    100% {
        transform: scale(105%);
    }
}